.card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    height: 240px;
    // background-color: #ffee58;
    background:  linear-gradient(100deg, #f8bbd0, #ec407a);
    // background-size: 240px;
    // border: solid 1px grey;
    border-radius: 5px;
    margin: 24px 24px 24px 24px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.divCard{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    border: 1px solid #ec407a;
    background-color: #002171;
    padding: 8px;
    color: #fff;
    border-radius: 4px;
}